/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: pink; /* background of everything*/
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.words {
    padding: 3rem;
}
.mini-words{
    text-align: center;
}
img, .mini-words, div{
    padding: 1rem;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 500px) {
    .grid-item {
      font-size: 10px;
    }
  }
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 700px) {
    .grid-item, .words, .mini-words {
      font-size: 25px;
    }
  }

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 960px) {
    .grid-item, .words, .mini-word {
      font-size: 32px;
    }

    .words, .mini-words {
        padding: 5rem;
    }
  }
  


/* NAVBAR */

li, a, button { /* all font stuff for logo and nav links */
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: navy;
    transition: all 0.3s ease;

}
header {
    display: flex;
    justify-content: space-between; /* push left and right items to the far edges and the center item will evenly space between the two*/
    align-items: center; /* centers all of the header together*/
    padding: 10px 1rem 5px 1.5rem; /* top, right, bottom, left*/
    position: sticky;
    top:0;
}

.navbar a {
    /* make nav all the way to the right!! */
    color: navy;
}
.navbar a:hover {
    color: whitesmoke;
}
.nav_links li {
    display: inline-block;
    margin: 0px 10px 0px; /* only on sides */
}


/* button {
    padding: 9px 25px;
    background-color: aqua;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
}
button :hover {
    background-color: aquamarine;
} */


/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.grid-item {
    /* background-color: lightblue; */
}


/* LANDING PAGE */
#Landing, #Reminders {
    padding: 5% 0px 0px;
}

/* EXEC - Sorority for women in STEM  */

#study {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

#grid-button {
    color: white;
    background-color: pink;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
    margin: 0px max(5%, min(20px, 5%));
}

#grid-button:hover {
    border: 2px solid navy;
    background-color: navy;
}


/* HISTORY */

/* Academic Success */

/* Socials & Networking */

/* Contact */