/* GENERAL */
:root {
    --font-color: #012622;
    --primary-color: #909d69;
    --secondary-color: #dfa1e8;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color); /* background of everything*/
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.words {
    padding: 3rem;
}
.mini-words{
    text-align: center;
}
img, .mini-words, div {
    padding: 2rem;
}



/* NAVBAR */

li, a, button { /* all font stuff for logo and nav links */
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.3s ease;

}
header {
    display: flex;
    justify-content: space-between; /* push left and right items to the far edges and the center item will evenly space between the two*/
    align-items: center; /* centers all of the header together*/
    padding: 10px 1rem 5px 1.5rem; /* top, right, bottom, left*/
    position: sticky;
    top:0;
    z-index: 1000;
}

.navbar a, .header-logo {
    color: var(--font-color);
}
.navbar a:hover {
    color: var(--secondary-color);
}
.nav_links li {
    display: inline-block;
    margin: 0px 10px 0px; /* only on sides */
}


/* button {
    padding: 9px 25px;
    background-color: aqua;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
}
button :hover {
    background-color: aquamarine;
} */


/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}
@media (max-width: 960px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr; /* Stack items vertically */
    }
}
.grid-item {
    position: relative;
}


/* LANDING PAGE */
#Landing {
    padding: 5% 0px 0px;
}

/* EXEC - Sorority for women in STEM  */


.grid-text {
    /* margin-bottom: 2rem; */
}
[id*="grid-button"] {
    color: white;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid white;
    /* border-radius: 50px; */
    cursor: pointer;
    transition:all 0.3s ease 0s;
}
#grid-button:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
}
#text-insteadof-grid-button {
    border: none;
}


/* HISTORY */

/* Academic Success */

/* Socials & Networking */

/* Contact */