/* GENERAL */
:root {
    --dark-neutral-color: #012622; /*monstera green*/
    --light-neutral-color: #EBDEDA; /*light pink*/
    --secondary-color: #e5c7cc;

    --light-leaf-color: #909d6a;
    --dark-leaf-color: #4C5D46;

    --a-color: ;
    --b-color: ;
    --c-color: ;
    --a1-color: ;
    --b1-color: ;
    --c1-color: ;

    --terracotta-color: #c29673;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--dark-neutral-color);
}
section {
    padding-top: 10vh;
}
#NME {
    color: var(--light-neutral-color);
}
#Exec {
    background-color: var(--light-neutral-color);
}
#ExecPart2 {
    background-color: var(--dark-leaf-color);
    color: var(--light-neutral-color);
}
#History {
    background-color: var(--secondary-color);
}
#AcademicSuccess {
    background-color: var(--light-neutral-color);
}
#Socials {
    background-color: var(--light-neutral-color);
}
#Contact {

}
#Credits {

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.logo-button :hover {
    transform: scale(1.1);
}
.words {
    padding: 3rem;
    border: .5px solid var(--terracotta-color);
}
.mini-words{
    text-align: center;
    border: .5px solid var(--terracotta-color);

}
img, .mini-words, div {
    padding: 2rem;
}



/* NAVBAR */

li, a, button { /* all font stuff for logo and nav links */
    font-weight: 500;
    text-decoration: none;
    color: var(--dark-leaf-color);
    transition: all 0.5s ease;

}
header {
    background-color: var(--dark-neutral-color);
    display: flex;
    justify-content: space-between; /* push left and right items to the far edges and the center item will evenly space between the two*/
    align-items: center; /* centers all of the header together*/
    padding: 10px 1rem 5px 1.5rem; /* top, right, bottom, left*/
    position: sticky;
    top:0;
    z-index: 1000;
}

.navbar a, .header-logo {
    color: var(--light-neutral-color);
}
.navbar a:hover {
    text-decoration: underline;
}
.nav_links li {
    display: inline-block;
    margin: 0px 10px 0px; /* only on sides */
}


/* button {
    padding: 9px 25px;
    background-color: aqua;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
}
button :hover {
    background-color: aquamarine;
} */


/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}
@media (max-width: 860px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr; /* Stack items vertically */
    }


}
.grid-item {
    position: relative; /* So that buttons can be absolute */
}
.grid-title {
    margin-bottom: 1rem;
}
.grid-text {
    padding-top: 0px;
}


/* NME PAGE */


/* EXEC - Sorority for women in STEM  */

[id*="grid-button"] {
    color: var(--light-neutral-color);
    /* background-color: var(--dark-neutral-color); */
    position: absolute;
    bottom: 0;
}
#grid-button {
    padding: 5px 10px;
    text-align: center;
    border: 2px solid var(--light-neutral-color);
    /* border-radius: 50px; */
    cursor: pointer;
    transition:all 0.3s ease 0s;
}
#grid-button:hover {
    border: 2px solid var(--dark-leaf-color);
    background-color: var(--dark-leaf-color);
}
#text-insteadof-grid-button {
    cursor: default;
}


/* HISTORY */

/* Academic Success */

/* Socials & Networking */

/* Contact */
#Contact {
}
#blinged-logo {
    padding-left: 20%;
    padding-right: 20%;
}
#contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    line-height: 1.8;
}
#contact-list :hover {
    transform: scale(1.1);
}

/* CREDITS */



/* MATCHING */
.bubble-info-title, .both-bubble-info-title {
    padding-bottom: 10px;
}
.both-bubble-info-title /*sample json file title in big bubble needs space.*/
{
    padding-top: 15px;
}
.passcode-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.passcode, .bubble-info-section {
    background-color: var(--light-neutral-color);
    border-radius: 15px;

}
.bubble-info-section {
    margin: 20px 0;
    padding: 20px;
}

footer {
    color: var(--light-neutral-color);
    text-align: center;
    padding-bottom: 2rem;
}